@import url('https://fonts.cdnfonts.com/css/arcade-classic');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ArcadeClassic', sans-serif;
  word-spacing: 5px;
}

/* HEADER STYLE */

.headerbox-content{
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.title-text{
    padding-top: 50px;
    background-color: rgba(160, 159, 159, 0.485);
    width: 100%;
    display: flex;
    justify-content: center;
}

/* body BOX */

.body-box{
    display: flex;
    flex-flow: column;
    justify-content: center;
    
}

.body-topb{
    padding-top: 80px;
    display: flex;
    flex-flow: column;
    align-items: center;
    
    
}

/* body img */

.img-top-text{
    background-color: rgba(160, 159, 159, 0.485);
    width: 100%;
    text-align: center;
}

.img-bottom-text{
    background-color: rgba(160, 159, 159, 0.485);
    width: 100%;
    text-align: center;
}

.chicken-img{
    margin: 30px;
    border-radius: 5px;
    
}

.img-box{
    background-color: goldenrod;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* submit video */

.body-midb{
    padding: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: rgba(160, 159, 159, 0.485);
}


#upload-img:hover{
    background-color: olive;
}

#upload-img{
    background-color: goldenrod;
    border-radius: 10px;
    
}

.upload-video{
    padding-top: 10px;
    font-size: 25px;
    padding: 15px;
}

#detect-button{
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}

#detect-button:hover{
    background-color: rgb(194, 194, 194);
    border-color: rgb(255, 255, 255)

}

.button-div{
    display: flex;
    flex-flow: column;
    padding: 10px;
    padding-top: 20px;
}

.video-box{
    border-radius: 15px;
}

.output-video-box{
    display: flex;
    flex-flow: column;
    align-items: center;
}

